<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!--<div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>-->
    <ul class="nav navbar-nav">
      <li>
        <%= link_to('Inicio', authenticated_root_path ) %>
      </li>
      <li>
        <%= link_to('Editar Perfil', edit_user_registration_path ) %>
      </li>
      <li>
        <% if can? :manage, User %>
            <%= link_to('Administración', users_path ) %>
        <% end %>
      </li>
      <li>
          <a>Hola, <%= current_user.email %></a>
      </li>
      <li>
        <%= link_to('Cerrar Sesión', destroy_user_session_path, :method => :delete, :class => 'logout') %>
      </li>
    </ul>
  </div>
</nav>